<!doctype html>

<html lang="en">
	<head>
		<meta charset=utf-8>
		<title>Home page</title>
	</head>
	
	<body>
		<h1 style="font-family:verdana;text-align:center">Squirrel Tracker</h1>
		<p>This is the home page for Squirrel Tracker. Feel free to click on the buttons below to see the details.</p>
		<br>
		<form action="/map/">
			<input type="submit" value="View the Map">
		</form><br>

		<form action="/sightings/">
			<input type="submit" value="View Squirrel Sightings">
		</form><br>
	</body>
</html>
