<!doctype html>

<html lang="en">
 	 <head>
   		<!-- Required meta tags -->
   		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

   		<!-- Bootstrap CSS -->
   		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   		<title>Add</title>
 	</head>

	<body>
		<p>If you want to go back to the sightings without saving the form, click the button.</p>
		<form action=" {% url 'sightings:index' %} ">
			<button>Back to sightings</button>
		</form>
		<br>
		<p>Add a new sighting view here:</p>
		<p><form action="{% url 'sightings:add' %}" method="POST" name="add">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
				<br>
				<tr>
					<td></td>
					<td>     <input type="submit" name="Submit">     </td>
				</tr>
			</table>
		</form>
		</p>	
	</body>
</html>

