<!doctype html>

<html>
	<title>Sightings</title>

	<body>
		<p>Add a new sighting view <a href="{% url 'sightings:add' %}">here</a>!</p>
		<p>Look at the general statistics <a href="{% url 'sightings:stats' %}">here</a>!</p>

		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Sighting</th>
			</tr>
				{% for squirrel in squirrels %}
			<tr>
				<td>{{squirrel.Unique_Squirrel_ID}}</td>
				<td>{{squirrel.Date}}</td>
				<td><a href="{% url 'sightings:update' squirrel.Unique_Squirrel_ID %}">Update a sighting</a></td>
			</tr>
				{% endfor %}
		</table>
	</body>
</html>
