<!doctype html>

<html lang="en">
 	 <head>
   		<!-- Required meta tags -->
   		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

   		<!-- Bootstrap CSS -->
   		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   		<title>Sightings</title>
 	</head>

	<body>
		<p>Add a new sighting view <a href="{% url 'sightings:add' %}">here</a>!</p>
		<p>Look at the general statistics <a href="{% url 'sightings:stats' %}">here</a>!</p>

		<table>
			<tr>
				<th>    ID    </th>
				<th>    Date    </th>
				<th>    Sighting   </th>
			</tr>
				{% for squirrel in squirrels %}
			<tr>
				<td>  {{squirrel.Unique_Squirrel_ID}} <br> </td>
				<td>  {{squirrel.Date}} <br> </td>
				<td>  <a href="{% url 'sightings:update' squirrel.Unique_Squirrel_ID %}">Update a sighting</a> <br> </td>
			</tr>
				{% endfor %}
		</table>
	</body>
</html>
