
			<label>X: </label>
			<input type="text" name="X"><br>
			<label>Y: </label>
			<input type="text" name="Y"><br>
			<label>Unique Squirrel ID: </label>
			<input type="text" name="Unique_Squirrel_ID"><br>
			<label>Shift: </label>
			<input type="text" name="Shift"><br>
			<label>Date: </label>
			<input type="text" name="Date"><br>
			<label>Age: </label>
			<input type="text" name="Age"><br>

			<label>Primary Fur Color: </label>
			<input type="text" name="Primary_Fur_Color"><br>
			<label>Location: </label>
			<input type="text" name="Location"><br>
			<label>Specific Location: </label>
			<input type="text" name="Specific_Location"><br>
			<label>Running: </label>
			<input type="text" name="Running"><br>
			<label>Chasing: </label>
			<input type="text" name="Chasing"><br>
			<label>Climbing: </label>
			<input type="text" name="Climbing"><br>
			<label>Eating: </label>
			<input type="text" name="Eating"><br>
			<label>Foraging: </label>
			<input type="text" name="Foraging"><br>
			<label>Other Activities: </label>
			<input type="text" name="Other_Activities"><br>
			<label>Kuks: </label>
			<input type="text" name="Kuks"><br>
			<label>Quaas: </label>
			<input type="text" name="Quaas"><br>
			<label>Moans: </label>
			<input type="text" name="Moans"><br>
			<label>Tail Flags: </table>
			<input type="text" name="Tail_flags"><br>
			<label>Tail Twitches: </label>
			<input type="text" name="Tail_twitches"><br>
			<label>Approaches: </label>
			<input type="text" name="Approaches"><br>
			<label>Indifferent: </label>
			<input type="text" name="Indifferent"><br>
			<label>Runs From: </label>
			<input type="text" name="Runs_from"><br>


