<!doctype html>
<html>
	<title>Update</title>
	<body>
		<p>If you want to go back to the sightings without saving the form, click the button.</p>
		<form action=" {% url 'sightings:index' %} ">
			<button>Back to sightings</button>
		</form>
		<br>

		<form action="" method="GET" name="update">
			{% csrf_token %}
			
		</form>



		<p>Update a new sighting view here:</p>
		<form action="" method="POST" name="update">
			{% csrf_token %}
			<table>
				The Squirrel ID you are updating right now is: {{squirrel_ID}}<br>

				{{ form.as_table }}
				<br>
				<tr>
					<td></td>
					<td>     <input type="submit" name="Submit">     </td>
				</tr>
			</table>
		</form>	
	</body>
</html>

